.mainContent table{
    border-collapse: collapse;
}
.mainContent th{
    border: 1px solid #bd9850;
    text-align: center;
    vertical-align: middle;
    background-color: #bd9850;
}
.mainContent td{
    text-align: center;
    vertical-align: middle;
    padding: 1vh 1vw;
    border: 1px solid #bd9850;

}
